NODE_ENV=development

# Clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

NEXT_PUBLIC_CLERK_SIGN_IN_URL="/auth/sign-in"
NEXT_PUBLIC_CLERK_SIGN_UP_URL="/auth/sign-up"

NEXT_PUBLIC_CLERK_SIGN_IN_FORCE_REDIRECT_URL="/dashboard/overview"
NEXT_PUBLIC_CLERK_SIGN_UP_FORCE_REDIRECT_URL="/dashboard/overview"
NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL="/dashboard/overview"
NEXT_PUBLIC_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL="/dashboard/overview"

NEXT_PUBLIC_BASE_URL=http://localhost:3000/

DATABASE_URL=postgresql://postgres:root@localhost:5432/db-name
DIRECT_URL=postgresql://postgres:root@localhost:5432/db-name

RESEND_API_KEY=
RESEND_FROM_EMAIL=

CLOUDWATCH_GROUP_NAME=
CLOUDWATCH_REGION=
CLOUDWATCH_SECRET_KEY=
CLOUDWATCH_ACCESS_KEY=

NEXT_PUBLIC_POSTHOG_KEY=
NEXT_PUBLIC_POSTHOG_HOST=